body{
  /* background-image: url("background4.png");
   background-repeat: no-repeat;*/
   background-color: #18121e;
    font-family: Comic Sans MS;
  }
  h1{
    color: #fff;
    text-align: center;
    font-size: 74px;
    letter-spacing: 10px;
  }
  #del-countdown{
    width: 850px;
    margin: 5% auto;

  }
  #clock span{
    float: left;
    text-align: center;
    font-size: 84px;
    margin: 0 2.5%;
    color: #fff;
    padding: 20px;
    width: 20%;
    border-radius: 20px;
    box-sizing: border-box;
  }
  #clock span:nth-child(1){
    background: #eac67a;
  }
  #clock span:nth-child(2){
    background: #eac67a;
  }
  #clock span:nth-child(3){
    background: #eac67a;
  }
  #clock span:nth-child(4){
    background: #eac67a;
  }
  #clock:after{
    content: "";
    display: block;
    clear: both;
  }
  #units span{
    float: left;
    width: 25%;
    font-size:35px;
    text-align: center;
    margin-top: 30px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px rgba(10,10,10, 0.7);
  }
  
  span.turn{
    animation: turn 0.7s ease forwards;
  }
  
  @keyframes turn{
    0%{transform: rotateX(0deg)}
    25%{transform: rotateX(90deg)}
    50%{transform: rotateX(180deg)}
    75%{transform: rotateX(270deg)}
    100%{transform: rotateX(360deg)}
  }
#wish{
  opacity: 0.0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#closed-present-box img{
  position: absolute;
  top: 400px; bottom:0; left: 0; right:0;
  margin: auto;
}
#closed-present-box:hover + #wish{
  opacity: 1.0;

}
#background img{
  position: absolute;
  top: -300px; bottom:0; left: 0; right:0;
  margin: auto;
  position: absolute;
  z-index: -1000;
  width:2255px;
}
@media screen and (max-width: 1024px) {
  #background img {
      width:500px;
  }
  #closed-present-box img{
    width:200px;
    top:-165px; bottom:0; left:0;right:0;
  }
  #del-countdown{
    width:300px;
    margin-left:85px;
    margin-top:80px; 
  }
  #clock span{
    width:60px;
    height: 60px;
    font-size: 15px;
  }
  #units span{
    width:40px;
    font-size: 10px;
    padding: 0 15px;    
  }
  #wish h1{
    font-size: 40px;
    margin-top:20px;
  }
  #not-ready h1{
    width:100px;
    margin: 0 70px;
    font-size: 40px;
    margin-top:-30px;
  }
}

/*@media screen and (max-width: 2500px) {
 #background img{
  display: block;
 }
}*/